.idea
/cmake-build-debug
/cmake-build-release
/cmake-build-web
/cmake-build-web-release
/cmake-build-binding
/build_bindings
/.cache
/tmp
.DS_Store
.github/copilot-instructions.md
CLAUDE.md
tmp/my.md
/.cache